<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Asteroids</h1>
    {% for date in dates %}
        <h2>{{ date }}</h2>
        {% for asteroid in asteroids %}
          {% if date is asteroid.date %}
            <h3>Name: {{ asteroid.name }}</h3>
            <ul>
              <li>Diameter Min (km): {{ asteroid.diameter_min }}</li>
              <li>Diameter Max (km): {{ asteroid.diameter_max }}</li>
              <li>Hazardous: {{ asteroid.hazardous }}</li>
              <li>URL: <a href="{{ asteroid.url }}">{{ asteroid.url }}</a></li>
            </ul>
          {% endif %}
        {% endfor %}
    {% endfor %}
  </body>
</html>
